<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ztiany.android"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.ztiany.android.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ztiany.android.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ztiany.android.tabhost.FragmentTabHostActivity"/>
        <activity
            android:name="com.ztiany.android.drawer.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.ztiany.android.operation.FragmentOperationActivity">
        </activity>
        <activity android:name="com.ztiany.android.withviewpager.ViewPagerActivity">
        </activity>
        <activity android:name="com.ztiany.android.share_element.ShareElementDemoActivity">
        </activity>
        <activity android:name="com.ztiany.android.communication.FragmentRetainInstance"/>

        <activity android:name="com.ztiany.android.bottomsheet.BottomSheetActivity">
        </activity>
    </application>

</manifest>